@model WebApplication5.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "form1" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @ksdna="" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TypingDnaPattern, new { @class = "form-control", @type = "hidden" })
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.KeystrokeDnaSignature, new { @class = "form-control", @type = "hidden" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    <script>
        var KSDNA_SDK_URL = "https://api.keystrokedna.com/static/v0.4.1/ksdna.js?apiKey=16614e08-7e7f-4d3e-8dd5-adeebb966bd2";
!function(a,b,c,d){a.KSDNA=a.KSDNA||{f:[],ready:function(b){a.KSDNA.loaded?b():this.f.push(b)}};var  e=b.createElement(c),f=b.getElementsByTagName(c)[0];e.ksdna=1,e.async=1,e.src=d,f.parentNode.insertBefore(e,f)}(window,document,"script",KSDNA_SDK_URL);
    </script>

<script src="https://typingdna.com/scripts/typingdna.js"></script>
<script type="text/javascript">
    var tdna = new TypingDNA();
    tdna.addTarget('Email');

    window.onload = (event) => {
        $('#form1').submit(function (event) {
            //onSubmit(event);
            setPattern();
        });


    };

    function setPattern() {
        console.log(TypingDNA.getTypingPattern({ type: 1, targetId: "Email", extended: true }));
        $('#TypingDnaPattern').val(TypingDNA.getTypingPattern({ type: 1, targetId: "Email", extended: true }));

        var emailInput = $('#Email')[0];
        var ksdnaSignatureForEmail = KSDNA.prepareSignature('email', emailInput.ksdna._dataset);
        console.log(ksdnaSignatureForEmail)
        $('#KeystrokeDnaSignature').val(ksdnaSignatureForEmail);

    }

    window.KSDNA.ready(function () { window.KSDNA.init(); });

</script>